<ion-view view-title="chukhuong">

  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-person-add">
    </a>
    <a class="button button-icon icon ion-android-more-vertical" href="#/tab/more_account">
    </a>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list card borderless">
      <div class="item-avatar item-thumbnail-left profile_avatar">
        <img src="img/ben.png">
        <div class="row list-borderless">
          <a class="item item-text-wrap profile">120 <br> posts </a>
          <a class="item item-text-wrap profile">120 <br> followers </a>
          <a class="item item-text-wrap profile">120 <br> following </a>
        </div>

          <a class="button button-small button-full button-stable profile_edit">
          <b>EDIT YOUR PROFILE</b>
          </a>
        </div>
          <h4 class="padding"><b>Khuong Joe</b></h4>
          <h5 class="padding">This is introduce part</h5>
    </div>

    <div class="item button-bar btn-bar-custom">
      <a  class="item button button-icon icon ion-grid active positive" href="#/tab/account"></a>
      <a nav-direction="swap" class="item button button-icon icon ion-ios-list-outline" href="#/tab/postone_account"></a>
      <a nav-direction="swap" class="item button button-icon icon ion-ios-location-outline" href="#/tab/map_account"></a>
      <a nav-direction="swap" class="item button button-icon icon ion-image" href="#/tab/picture_account"></a>
    </div>

         <div class="row">
           <div class="col col-33 item-image" ><img src="img/ben.png"></div>
           <div class="col col-33 item-image"><img src="img/ben.png"></div>
           <div class="col col-33 item-image"><img src="img/ben.png"></div>
        </div>
        <div class="row">
          <div class="col col-33 item-image" ><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
        </div>
        <div class="row">
          <div class="col col-33 item-image" ><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
        </div>
        <div class="row">
          <div class="col col-33 item-image" ><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
        </div>
        <div class="row">
          <div class="col col-33 item-image" ><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
          <div class="col col-33 item-image"><img src="img/ben.png"></div>
        </div>
  </ion-content>

</ion-view>
