<ion-view>
  <div class="bar bar-header fixed">
      <h4 class="account_name name">khuongcnk</h4>
      <button class="button icon ion-person-add button-light account_add"></button>
      <a class="button icon ion-android-more-vertical button-light" href="#/tab/more_account"></a>
  </div>

  <ion-content class="has-header">
    <div class="list card borderless">
      <div class="item-avatar item-thumbnail-left profile_avatar">
        <img src="img/ben.png">
        <div class="row list-borderless">
          <a class="item item-text-wrap profile">120 <br> posts </a>
          <a class="item item-text-wrap profile">120 <br> followers </a>
          <a class="item item-text-wrap profile">120 <br> following </a>
        </div>

          <a class="button button-small button-full button-stable profile_edit">
          <b>EDIT YOUR PROFILE</b>
          </a>
      </div>
          <h4><b>Khuong Joe</b></h4>
          <h5>This is introduce part</h5>
    </div>

    <div class="item button-bar btn-bar-custom">
      <a nav-direction="swap" class="item button button-icon icon ion-grid" href="#/tab/account"></a>
      <a nav-direction="swap" class="item button button-icon icon ion-ios-list-outline" href="#/tab/postone_account"></a>
      <a  class="item button button-icon icon ion-ios-location-outline active positive" href="#/tab/map_account"></a>
      <a nav-direction="swap" class="item button button-icon icon ion-image" href="#/tab/picture_account"></a>
    </div>

    not yet
  </ion-content>

</ion-view>
