<ion-view>
  <ion-nav-buttons class="button-bar">
      <a class="button button-clear">Search</a>
  </ion-nav-buttons>

  <div class="tabs-striped tabs-top tabs-color-dark">
    <div class="tabs">
      <a nav-direction="swap" class="tab-item" href="#/tab/topsearch">
        TOP
      </a>
      <a nav-direction="swap" class="tab-item" href="#/tab/peoplesearch">
        PEOPLE
      </a>
      <a nav-direction="swap" class="tab-item" href="#/tab/tagssearch">
        TAGS
      </a>
      <a class="tab-item active" href="#/tab/placessearch">
        PLACES
      </a>
    </div>
  </div>

</ion-nav-buttons>
  <ion-content>

  </ion-content>
</ion-view>
