<ion-view view-title="Options">

  <ion-content class="padding">
    <div class="list">

      <!-- invite section -->
      <div class="item item-divider">
        <b>INVITE FRIENDS</b>
      </div>

      <a class="item item-icon-right">
        <b>Invite Facebook friends</b>
        <i class="icon ion-social-facebook"></i>
      </a>

      <a class="item">
        <b>Invite Friends</b>
      </a>

      <!-- follow section -->
      <div class="item item-divider">
        <b>FOLLOW PEOPLE</b>
      </div>

      <a class="item item-icon-right">
        <b>Invite Facebook friends</b>
        <i class="icon ion-social-facebook"></i>
      </a>

      <a class="item item-icon-right">
        <b>Find Contacts</b>
        <i class="icon ion-android-contact"></i>
      </a>

      <!-- setting section -->

      <div class="item item-divider">
        <b>SETTINGS</b>
      </div>

      <a class="item item-icon-right"><b>Linked Accounts</b></a>
      <a class="item item-icon-right"><b>Language</b></a>
      <a class="item item-icon-right"><b>Push Notifications</b></a>
      <a class="item item-icon-right"><b>Cellular Data Use</b></a>
      <a class="item item-icon-right"><b>Comments</b></a>
      <a class="item item-icon-right"><b>Upload Quality</b></a>

      <ul class="list">

          <li class="item item-toggle">
             <b>Save Original Photos</b>
             <label class="toggle toggle-positive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>

          <li class="item item-toggle">
             <b>Save Videos After Posting</b>
             <label class="toggle toggle-positive">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>

      </ul>

      Saving videos to your phone uses more storage space.

    </div>


  </ion-content>

</ion-view>
