<div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
  <div class="tabs fixed">
    <a class="tab-item active" href="#/tab/following">FOLLOWING</a>
    <a nav-direction="swap" class="tab-item" href="#/tab/you">YOU</a>
  </div>
</div>

  <ion-content class="has-header">
    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
              Khuong liked 8 photos.

      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

    <div>
      <a class="item item-avatar item-icon-right">
          <img src="img/ben.png">
        Khuong liked 8 photos.
      </a>
    </div>

  </ion-content>
</ion-view>
