<ion-view>
  <ion-nav-buttons class="button-bar">
      <a class="button button-icon ion-ios-search-strong"></a>
      <a class="button button-clear" nav-direction="enter" href="#/tab/searchbutton">Search</a>
  </ion-nav-buttons>

  <ion-content>
  <div class="row">
    <div class="col col-33 item-image" ><img src="img/ben.png"></div>
    <div class="col col-33 item-image"><img src="img/ben.png"></div>
    <div class="col col-33 item-image"><img src="img/ben.png"></div>
 </div>
 <div class="row">
   <div class="col col-33 item-image" ><img src="img/ben.png"></div>
   <div class="col col-33 item-image"><img src="img/ben.png"></div>
   <div class="col col-33 item-image"><img src="img/ben.png"></div>
</div>
<div class="row">
  <div class="col col-33 item-image" ><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
</div>
<div class="row">
  <div class="col col-33 item-image" ><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
</div>
<div class="row">
  <div class="col col-33 item-image" ><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
</div>
<div class="row">
  <div class="col col-33 item-image" ><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
  <div class="col col-33 item-image"><img src="img/ben.png"></div>
</div>
  </ion-content>
</ion-view>
